.logo {
    width: 35%;
    background-size: contain;
    display: block;

    /* on centre le logo horizontalement */
    margin-left: auto;
    margin-right: auto;

    /* on centre le logo verticalement */
    margin-top: 6%;

}

#g2396{
    /* on le met en vert */
    color: #00FF00;

}
.display-inline{
    color: #00FF00;

}
